@import '../../../sass/utils/variables';

.kasa-m-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
    background-color: $footer-color;
    height: 13.125rem;
    color: $main-color;
    padding: 4.125rem 29rem 1.875rem 29rem;
    margin-top: 2.75rem;

    @media screen and (max-width: 769px) {
        padding: 62px 0px;
        gap: -0.444px;
    }

    p {
        @media screen and (max-width: 769px) {
            font-size: 12px; 
        }
    }
}