@import '../../atoms/GalleryCardImage/galleryCardImage.scss';
@import '../../atoms/GalleryCardTitle/galleryCardTitle.scss';

.kasa-m-gallery__card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}