html,body,p,ol,ul,li,h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}

ul {
    list-style:none;
}

button,input,select {
    margin:0;
}

html {
    box-sizing:border-box;
}

*,*::before,*::after {
    box-sizing:inherit;
}

img {
    display: block;
    max-width:100%;
}

.text-center {
    text-align: center;
}

// + header
.container {
    padding: 0 1em;
    margin: 0 auto;
    border: 2px solid rebeccapurple;
    max-width: 600px; // cela évite de casser le container (ex. version desktop avec les 3 .Thumb
}

header {
    min-height: 300px;
}
