.header__link {
    @include font(24px, 500);
    color: $primary-color;

    @media screen and (max-width: 769px) {
        font-size: 12px;
    }
}

.no-underline {
    text-decoration: none;
}

.red-underline {
    @include underline;
}