@mixin font($size, $weight) {
    font-size: ($size);
    font-style: normal;
    font-weight: $weight;
}

@mixin banner-background {
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    margin: 5% auto;
    border-radius: $border-radius-large;
    height: 223px;
    width: 90%;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin underline {
    text-decoration: underline $primary-color;
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 0.05rem;
}