@mixin banner-background {
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    margin: 0 100px 43px 100px;
    height: 223px;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
