// Colors
$primary-color: #FF6060;
$secondary-color: #FFF;
$container-color: #F6F6F6;
$footer-color: #000;
$card-linear-color: linear-gradient(180deg, rgba(255,96,96,1) 0%, rgba(149,52,52,1) 100%);
$darken-banner-color: rgba(0, 0, 0, 0.3);

// Border Radius
$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 25px;
