.housing__informations-tag {
    text-align: center;
    background-color: #FF6060;
    color: #FFF;
    height: 25px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 3px 22px 2px 22px;
    font-size: 14px;

    @media screen and (max-width: 769px) {
        font-size: 10px;
        height: 18px;
        padding: 2px 15px;
    }
}

