@import '../../../sass/utils/mixins';
@import '../../../sass/utils/variables';
@import '../../atoms/HomeTitle/homeTitle.scss';

.banner-home {
    background: $rgba-darken-banner-color url('../../../assets/banner-background.png');
    @include banner-background;
    @include flex-center;
    
    @media screen and (max-width: 769px) {
        margin: 5% auto 3% auto;
        border-radius: 10px;
        height: 111px;
    }
}

.banner-about {
    background: $rgba-darken-banner-color url('../../../assets/banner-about.png');
    @include banner-background;

    @media screen and (max-width: 769px) {
        border-radius: 10px;
    }
}


