@import '../../../sass/utils/mixins';
@import '../../../sass/utils/variables';
@import '../../atoms/HomeTitle/homeTitle.scss';

.kasa-m-banner__home {
    background: $rgba-darken-banner-color url('../../../assets/banner-background.png');
    @include banner-background;
    @include flex-center;
    border-radius: $border-radius-large;
    margin-top: 5%;
    min-height: 111px;
    height: 16vw;

    @media screen and (max-width: 769px) {
        width: 90%;
        margin: 0 auto 3%;
        border-radius: 10px;
    }
}

.kasa-m-banner__about {
    background: $rgba-darken-banner-color url('../../../assets/banner-about.png');
    @include banner-background;
    @include flex-center;
    border-radius: $border-radius-large;
    margin-top: 44px;
    height: 223px;

    @media screen and (max-width: 769px) {
        margin: 0 auto 25px auto;
        border-radius: 10px;
    }
}