.error-page__title {
    color: $primary-color;
    @include font(288px, 700);

    @media screen and (max-width: 900px) {
        font-size: 200px;
    }

    @media screen and (max-width: 769px) {
        font-size: 96px;
    }

}
