@import '../../../sass/utils/variables';

.error-page__title {
    color: $secondary-color;
    font-size: 288px;
    font-weight: $error-font-weight;

    @media screen and (max-width: 900px) {
        font-size: 200px;
    }

    @media screen and (max-width: 769px) {
        font-size: 96px;
    }

}
