@import '../utils/mixins';
@import '../utils/variables';
@import '../../components/atoms/CollapseContent/collapseContent.scss';

.reglementations-container {
    display: flex;
    flex-direction: column;
    margin: 0 210px;
}

.reglementation {
    padding-bottom: 30px;
}

.reglementation header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    height: 47px;
    padding: 0 10px;
    border-radius: $border-radius-medium;
}

.reglementation img {
    padding-right: 20px;
    // transition-property: transform;
    // transition-duration: 1000ms;
    // &:active {
    //     transform: rotate(180deg);
    //     margin-left: 10px;
    // }
}

.reglementation h4 {
    padding-left: 10px;
}



