@import '../utils/mixins';
@import '../utils/variables';

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-color;
}

.error-container h1 {
    color: $secondary-color;
}