@import '../../../sass/utils/mixins';

.slideshow {
    display: flex;
    position: relative;
    height: 415px;
    @media screen and (max-width: 769px) {
        height: 215px;
    }
}

.slideshow__picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
}

.slideshow__count {
    display: block;
    position: absolute;
    font-size: 18px;
    color: #FFF;
    left: 48%;
    top: 86%;

    @media screen and (max-width: 769px) {
        display: none;
    }

}

.slideshow__arrow-prev {
    position: absolute;
    top: 42%;
    left: 2%;
    width: 47px;
    z-index: 10;
    cursor: pointer;
    color: #FFF;

    @media screen and (max-width: 769px) {
        top: 48%;
        height: 24px;
        left: -3%; 
    }
}

.slideshow__arrow-next {
    position: absolute;
    top: 42%;
    right: 2%;
    width: 47px;
    z-index: 10;
    cursor: pointer;
    color: #FFF;

    @media screen and (max-width: 769px) {
        top: 48%;
        height: 24px;
        right: -3%; 
    }
}