@import '../../atoms//Star/star.scss';
@import '../../molecules/Rating/rating.scss';


.kasa-m-cardAuthor {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        object-fit: cover;
    }

    h3 {
        margin-right: 10px;
        text-align: right;
        width: 93px;
        color: #FF6060;
    }
}