@import '../../atoms//Star/star.scss';
@import '../../molecules/Rating/rating.scss';


.kasa-m-cardAuthor {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    
    @media screen and (max-width: 769px) {
        width: 15%;
    }

    img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        object-fit: cover;

        @media screen and (max-width: 769px) {
            width: 32px;
            height: 32px;
        }
    }

    h3 {
        margin-right: 10px;
        text-align: right;
        width: 93px;
        color: #FF6060;

        @media screen and (max-width: 769px) {
            font-size: 12px;
        }
    }
}

.kasa-o-author-informations {
    @media screen and (max-width: 769px) {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
    }
}