@import '../../molecules/HeaderNavbar/navbar.scss';
@import '../../atoms/HeaderLogo/headerLogo.scss';

.kasa-o-header {
    display: flex;
    height: 4.25rem;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 3% auto 0 auto;
}