@import '../../molecules/Collapse/collapse.scss';

.about-collapse {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;

    @media screen and (max-width: 769px) {
        margin: 0 auto;
        width: 90%;
    }
}