@import '../../../sass/utils/variables';
@import '../../atoms/ErrorTitle/errorTitle.scss';
@import '../../atoms/LinkReturnHome/linkReturnHome.scss';

.kasa-m-error__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-color;
    margin-top: 40px;

    @media screen and (max-width: 769px) {
        justify-content: center;
        margin: 15% auto 0 auto;
        width: 85%;
    }
}

.kasa-m-error__paragraph {
    font-size: 36px;
    margin-bottom: 24%;
    text-align: center;

    @media screen and (max-width: 769px) {
        font-size: 18px;
        margin-bottom: 10%;
    }
}


