@import '../../../sass/utils/variables';
@import '../../atoms/CollapseContent/collapseContent.scss';

.kasa-m-collapse-card{
    padding-bottom: 30px;
    width: 100%;

    @media screen and (max-width: 769px) {
        padding-bottom: 20px;
    }    

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $secondary-color;
        height: 47px;
        padding: 0 10px;
        border-radius: $border-radius-medium;

        @media screen and (max-width: 769px) {
            height: 30px;
        }
    }

    img {
        padding-right: 20px;

        @media screen and (max-width: 769px) {
            height: 20px;
        }
    }

    h2 {
        padding-left: 10px;
        font-size: $nav-about-footer-font-size;
        color: $main-color;
        line-height: 142.6%;

        @media screen and (max-width: 769px) {
            font-size: 13px;
        }
    }
}