@import '../../atoms/Navlink/navLink.scss';

.kasa-m-header__navbar {
    display: flex;
    gap: 50px;

    @media screen and (max-width: 769px) {
        gap: 15px;
        width: 40%;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
}