@import '../../atoms/Navlink/navLink.scss';

.kasa-m-header__navbar {
    display: flex;
    gap: 3.55rem;

    @media screen and (max-width: 769px) {
        gap: 10px;
        width: 35%;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
}