@import '../../molecules/Slideshow/slideshow.scss';
@import '../../atoms/Tag/tag.scss';
@import '../../molecules/LocationInformations/locationInformations.scss';
@import '../../organisms/AuthorInformations/authorInformations.scss';

.housing {
    margin: 5% auto 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.housing__informations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 30px 0;

    @media screen and (max-width: 769px) {
        flex-direction: column;
        align-items: start;
    }
}

.housing__dropdowns {
    display: flex;
    justify-content: space-between;
    gap: 76px;

    @media screen and (max-width: 769px) {
        gap: 0;
        flex-direction: column;
    }
}

