@import '../../../sass/utils/variables';

.kasa-m-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background-color: $footer-color;
    height: 209px;
    color: $main-color;
    margin-top: 8%;

    p {
        @media screen and (max-width: 769px) {
            font-size: 12px; 
        }
    }
}