@import '../../../sass/utils/variables';

.kasa-m-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    background-color: $footer-color;
    height: 13.125rem;
    color: $main-color;
    margin-top: 2.75rem;

    p {
        @media screen and (max-width: 769px) {
            font-size: 12px; 
        }
    }
}