@import '../../../sass/utils/variables';

.kasa-o-gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 3.125rem;
    margin: 0 100px;
    padding: 3.125rem;
    background-color: $container-dropdown-color;
    border-radius: $border-radius-large;

    @media screen and (max-width: 769px) {
        column-gap: 0;
        row-gap: 0;
        padding: 0;
        background-color: #FFF;
        width: 90%;
        margin: 0 auto;
        gap: 20px;
    }

    a {
        width: 340px;
        height: 340px;
        border-radius: $border-radius-medium;
        background: $card-linear-color;
        text-decoration: none;

        @media screen and (max-width: 769px) {
            width: 335px;
            height: 255px;
        }

        .kasa-m-cardGallery {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

        img {
            border-radius: $border-radius-medium;
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 75%;
            object-fit: cover;
        }
    
        h3 {
            font-size: 1.125rem;
            color: $main-color;
            line-height: 142.6%;
            padding: 0 1.25rem 1rem;

            @media screen and (max-width: 769px) {
                font-size: 18px;
                padding: 5px 0 5px 15px;
            }
        }
    }

    
}

