.banner-home__title {
    @include font(48px, 500);
    color: $secondary-color;

    @media screen and (max-width: 1000px) {
        font-size: 36px;
    }

    @media screen and (max-width: 769px) {
        font-size: 24px;
    }

    @media screen and (max-width: 400px) {
        padding-left: 3%;
    }
}