.kasa-m-location {
    width: 70%;
}

.kasa-m-location h3 {
    font-size: 36px;
    color: #FF6060;
    line-height: 142.6%;
}

.kasa-m-location p {
    font-size: 18px;
    color: #FF6060;
    line-height: 142.6%;
}

.kasa-m-location__container {
    display: flex;
    padding-top: 20px;
}